.main{
  max-width: 100%;
}

.menu__font{
  font-family: "Sen";
  font-size: 16px;
  line-height: 1.5;
  font-weight: bold;
}

.main__red{
background-color: #eb5757;
}

.main__content{
  max-width: 1000px;
  margin: 0 auto;
  padding: 0 10px;
}

.header{
  height: 50px;
  padding: 7px 10px;
  display: flex;
  align-items: center;
}

.header__logo{
  min-width: 200px;
}

.header__menu{
  display: flex;
  flex-grow: 1;
  justify-content: flex-end;
}

.menu{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.menuItem{
  color: #f9f9f9;
  padding: 4px 10px;
  margin: 0 20px;
  border-radius: 5px;
}

.menuItem:hover{
  margin: 0 20px;
  padding: 4px 10px;
  border-radius: 5px;
  background-color: #222222;
}

.header__cart{
  max-height: 50%;
  padding: 4px 0;
  justify-content: flex-end;
}

.header__cartIcon{
  border-radius: 5px;
  background-color: #222;
  justify-content: center;
  display: flex;
  align-items: center;
  cursor: pointer;
  appearance: none;
}

img{
  max-width: 40%;
  vertical-align: middle;
}
